
@using Rehab.Application.Accreditations
@using Rehab.Application.Amenities
@using Rehab.Application.Facilities
@using Rehab.Application.Highlights
@using Rehab.Application.Insurances
@using Rehab.Application.SubstancesWeTreat
@using Rehab.Application.Treatments
@using Rehab.Application.WhoWeTreat
@using Rehab.EndPoint.Web.ViewModels
@using AutoMapper
@using System.Threading.Tasks
@using System.Text.Json
@using static Rehab.EndPoint.Web.Components.Pages.States

@inject AutoMapper.IMapper mapper
@inject IFacilityService FacilityService


<h4 class="fs-6 mt-2 me-3 py-2" style="
    border-bottom: solid 2px #93e2f1;">
    Add more filters
</h4>
<div class="facility-filter-container">
    
    <!-- Condition DropDown -->
    <div class="dropdown filter-dropdown mb-2">
        <button class="btn dropdown-toggle w-100"
                type="button"
                data-bs-toggle="dropdown"
                aria-expanded="false">
            Conditions
        </button>

        <ul class="dropdown-menu w-100">
            @foreach (var item in Fields.Conditions!)
            {
                <li @onmousedown="() => ConditionToggleSelectItems(item)">
                    <label class="dropdown-item">
                        <input type="checkbox" value="@item" id="condition-@item.Id"> @item.Name
                    </label>
                </li>
            }
        </ul>
    </div>

    <!-- Treatment DropDown -->
    <div class="dropdown filter-dropdown mb-2">
        <button class="btn dropdown-toggle w-100"
                type="button"
                data-bs-toggle="dropdown"
                aria-expanded="false">
            Treatments
        </button>

        <ul class="dropdown-menu w-100">
            @foreach (var item in Fields.Treatments!)
            {
                <li @onmousedown="() => TreatmentToggleSelectItems(item)">
                    <label class="dropdown-item">
                        <input type="checkbox" value="@item" id="treatment-@item.Id"> @item.Name
                    </label>
                </li>
            }
        </ul>
    </div>

    <!-- Wwt DropDown -->
    <div class="dropdown filter-dropdown mb-2">
        <button class="btn dropdown-toggle w-100"
                type="button"
                data-bs-toggle="dropdown"
                aria-expanded="false">
            Who We Treat
        </button>

        <ul class="dropdown-menu w-100">
            @foreach (var item in Fields.Wwts!)
            {
                <li @onmousedown="() => WwtToggleSelectItems(item)">
                    <label class="dropdown-item">
                        <input type="checkbox" value="@item" id="wwt-@item.Id"> @item.Name
                    </label>
                </li>
            }
        </ul>
    </div>

    <!-- Loc DropDown -->
    <div class="dropdown filter-dropdown mb-2">
        <button class="btn dropdown-toggle w-100"
                type="button"
                data-bs-toggle="dropdown"
                aria-expanded="false">
            Level of Care
        </button>

        <ul class="dropdown-menu w-100">
            @foreach (var item in Fields.Locs!)
            {
                <li @onmousedown="() => LocToggleSelectItems(item)">
                    <label class="dropdown-item">
                        <input type="checkbox" value="@item" id="loc-@item.Id"> @item.Name
                    </label>
                </li>
            }
        </ul>
    </div>

    <!-- Insurance DropDown -->
    <div class="dropdown filter-dropdown mb-2">
        <button class="btn dropdown-toggle w-100"
                type="button"
                data-bs-toggle="dropdown"
                aria-expanded="false">
            Insurances
        </button>

        <ul class="dropdown-menu w-100">
            @foreach (var item in Fields.Insurances!)
            {
                <li @onmousedown="() => InsuranceToggleSelectItems(item)">
                    <label class="dropdown-item">
                        <input type="checkbox" value="@item" id="insurance-@item.Id"> @item.Name
                    </label>
                </li>
            }
        </ul>
    </div>

    <!-- Amenities DropDown -->
    <div class="dropdown filter-dropdown mb-2">
        <button class="btn dropdown-toggle w-100"
                type="button"
                data-bs-toggle="dropdown"
                aria-expanded="false">
            Amenities
        </button>

        <ul class="dropdown-menu w-100">
            @foreach (var item in Fields.Amenities!)
            {
                <li @onmousedown="() => AmenityToggleSelectItems(item)">
                    <label class="dropdown-item">
                        <input type="checkbox" value="@item" id="amenity-@item.Id"> @item.Name
                    </label>
                </li>
            }
        </ul>
    </div>
    <div class="w-100 text-center align-content-center pb-2">
        <button class="btn btn-primary btn-group-lg w-100 text-nowrap" @onclick="ApplyFilter">Apply Filters</button>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</div>
<style>
    .selected-items{
        font-size:12px;
    }
    .closebtn {
        margin-left: 8px;
        color: red;
    }

    .tag-item {
        display: inline;
        margin-right: 10px;
        border-right: solid 1px #eee;
    }

    .facility-filter-container{
        
    }
    input.filter-input{
        font-size:12px;
        padding:3px;
        border:solid 1px #eee;
    }

    .catList{
        max-height: 200px;
        overflow-y: auto;
    }


    .item {
        padding: 5px;
        margin: 5px 0;
        background-color: #f9f9f9;
        border: 1px solid #ddd;
        border-radius: 5px;
        cursor: pointer;
    }

        .item:hover {
            background-color: #e8f5e9;
        }

        .item.selected {
            background-color: #0061ca;
            color: white;
            border-color: #0061ca;
        }
</style>
@code {

    [Parameter] public FullFacilityFilterItemsViewmodel FullFacilityFilterItems { get; set; } = new();

    [Parameter] public EventCallback<FullFacilityFilterItemsViewmodel> ApplyFilterCallback { get; set; }


    private FacilityFieldsViewmodel Fields { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        Fields = mapper.Map<FacilityFieldsViewmodel>(FacilityService.GetListFacilityFields());
    }

    public async Task ApplyFilter()
    {
        await ApplyFilterCallback.InvokeAsync(FullFacilityFilterItems);
    }
    



    private void AmenityToggleSelectItems(AmenityViewmodel selectedItem)
    {
        if (FullFacilityFilterItems.Amenities.Contains(selectedItem)) FullFacilityFilterItems.Amenities.Remove(selectedItem);
        else FullFacilityFilterItems.Amenities.Add(selectedItem);
    }
    private void ConditionToggleSelectItems(ConditionViewModel selectedItem)
    {
        if (FullFacilityFilterItems.Conditions.Contains(selectedItem)) FullFacilityFilterItems.Conditions.Remove(selectedItem);
        else FullFacilityFilterItems.Conditions.Add(selectedItem);
    }
    private void TreatmentToggleSelectItems(TreatmentViewmodel selectedItem)
    {
        if (FullFacilityFilterItems.Treatments.Contains(selectedItem)) FullFacilityFilterItems.Treatments.Remove(selectedItem);
        else FullFacilityFilterItems.Treatments.Add(selectedItem);
    }
    private void WwtToggleSelectItems(WwtViewModel selectedItem)
    {
        if (FullFacilityFilterItems.Wwts.Contains(selectedItem)) FullFacilityFilterItems.Wwts.Remove(selectedItem);
        else FullFacilityFilterItems.Wwts.Add(selectedItem);
    }
    private void LocToggleSelectItems(LocViewmodel selectedItem)
    {
        if (FullFacilityFilterItems.Locs.Contains(selectedItem)) FullFacilityFilterItems.Locs.Remove(selectedItem);
        else FullFacilityFilterItems.Locs.Add(selectedItem);
    }
    private void InsuranceToggleSelectItems(InsuranceViewModel selectedItem)
    {
        if (FullFacilityFilterItems.Insurances.Contains(selectedItem)) FullFacilityFilterItems.Insurances.Remove(selectedItem);
        else FullFacilityFilterItems.Insurances.Add(selectedItem);
    }
}




<script>
    document.querySelectorAll('.dropdown-menu').forEach(menu => {
        menu.addEventListener('click', e => e.stopPropagation());
    });
</script>