@using Rehab.EndPoint.AdminPanel.CommonService
@rendermode InteractiveServer
@inject LocationService LocationService



<div class="col-4">
    <label for="state" class="form-label">State</label>
    <select @onchange="OnStateChanged" id="state" class="form-select">
        <option value="">Choose a State</option>
        @if (States1?.Any() == true)
        {
            @foreach(var s in States1)
            {
                <option value="@s">@s.Name</option>
            }
        }
    </select>
</div>
<div class="col-4">
    <label for="city" class="form-label">City</label>
    
    <select @bind="@SelectedCity" id="city" class="form-select">
        <option value="">Choose a City</option>
        @if(Cities?.Any() == true)
        {
            @foreach(var c in Cities)
            {
                <option value="@c">@c</option>
            }
        }
    </select>
</div>

@code {
    //مربوط به api شهر و استان
    private List<string>? States = new();
    private List<State>? States1 = new();
    private List<string> Cities = new();

    private string? SelectedState;
    private string? SelectedCity;

    protected override async Task OnInitializedAsync()
    {
        States1 = await LocationService.GetStatesAsync("United States");
    }

    private async Task OnStateChanged(ChangeEventArgs e)
    {
        SelectedState = e.Value?.ToString();
        if (!string.IsNullOrEmpty(SelectedState))
        {
            Cities = await LocationService.GetCitiesAsync(SelectedState);
            SelectedCity = null;
            StateHasChanged();
        }
    }
}
