@using Rehab.EndPoint.AdminPanel.CommonService

 <div class="col-4">
    <select @onchange="OnStateChanged" class="form-select">
        <option disabled selected>Choose a State</option>
        @foreach(var s in States)
        {
            <option value="@s">@s</option>
        }
    </select>
</div>
<div class="col-4">
    @if(Cities?.Any() == true)
    {
        <select @bind="@SelectedCity" class="form-select mt-2">
            <option disabled selected>Choose a City</option>
            @foreach(var c in Cities)
            {
                <option value="@c">@c</option>
            }
        </select>
    }
</div>

@inject LocationService LocationService
@code {
    //مربوط به api شهر و استان
    private List<string> States = new();
    private List<string> Cities = new();
    private string? SelectedState;
    private string? SelectedCity;

    protected override async Task OnInitializedAsync()
    {
        States = await LocationService.GetStatesAsync();
    }

    private async Task OnStateChanged(ChangeEventArgs e)
    {
        SelectedState = e.Value?.ToString();
        if (!string.IsNullOrEmpty(SelectedState))
        {
            Cities = await LocationService.GetCitiesAsync(SelectedState);
            SelectedCity = null;
        }
    }
}
