@using Rehab.EndPoint.Web.ViewModels
        <div class="card  h-100 px-0 rounded-2 border-0 @CustomClass ">
            <img src="@prefixImageURL/@Card.Image" class="card-img-top card-img-fixed" alt="@Card.Name">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title fs-6" title="@Card.Name">@Card.Name</h5>
                <p class="card-text">
            @((MarkupString)(Card.Description.Length > CharacterLimit
                        ? Card.Description.Substring(0, CharacterLimit) + "..."
                        : Card.Description))

            @if (Card.Description.Length > CharacterLimit)
            {
                <a style="background:none;cursor:pointer"
                   class="p-0 mt-1 show-more-btn text-decoration-none"
                   data-bs-toggle="modal"
                   data-bs-target="#modal_@Card.Name.Replace(" ", "_")">
                    Show more
                </a>
            }
                </p>

        <a href="/facilities?treatment=@Uri.EscapeDataString(Card.Name!)" class="btn-link-arrow align-self-end mt-auto">View facilities<span class="arrow">→</span></a>
            </div>
        </div> 
 
@if (!string.IsNullOrEmpty(Card.Description))
{
    <div class="modal fade custom-modal-backdrop"
         id="modal_@Card.Name.Replace(" ", "_")"
         tabindex="-1"
         aria-labelledby="modalLabel_@Card.Name.Replace(" ", "_")"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered custom-modal-width">
            <div class="modal-content">
                <div class="modal-header bg-light">
                    <h1 class="modal-title fs-5" id="modalLabel_@Card.Name.Replace(" ", "_")">@Card.Name</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    @((MarkupString)Card.Description)
                </div>
            </div>
        </div>
    </div>
}
@code {
    [Parameter]
    public int CharacterLimit { get; set; } = 150;
    [Parameter]
    public string CustomClass { get; set; }
    [Parameter]
    public CardViewModel Card{ get; set; }
    [Parameter]
    public string prefixImageURL { get; set; } = "/images/";
}
 