@* @page "/facility/{slug}" *@
@page "/facility/{id}"
@using Rehab.Application.Facilities
@using Rehab.EndPoint.Web.ViewModels
@using Rehab.EndPoint.Web.Components.Common
@using Rehab.EndPoint.Web.Components.Facility
@inject IFacilityService FacilityService
@inject AutoMapper.IMapper mapper

<div class="mt-5">
    @if (facility != null)
    {
        <PageCover CustomImageUrl="@facility.Cover"
                   CustomLogoURL="@facility.Logo"
                   PageTitle="@facility.Name" />

        <div class="shadow position-relative py-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <FacilityGeneralInfo Facility="@facility" />
                    </div>
                    <div class="col-md-6">
                        <FacilityGallery Facility="@facility" />
                    </div>

                </div>
            </div>
        </div>

        <div class="bg-white shadow position-relative z  py-5">
            <div class="container px-3  insurance">
                <h2 class="section-title">Insurances</h2>
                <div class="cards-grid">
                    @foreach (var item in facility.Insurances)
                    {
                        <Card Title="@item.Name"
                              Image="@(serverUrl + item.Logo)"
                              Description="@item.Description"
                              CardLink="#" />
                    }
                </div>

            </div>

        </div>

        <div class="Accreditations py-5">
            <div class="container px-3  mt-5  ">
                <h2 class="section-title"> Amenities </h2>
                @foreach (var item in facility.Amenities)
                {
                    <ItemRowComponent Title="@item.Name"
                                      Image="@(serverUrl + item.Logo)"
                                      Description="@item.Description"
                                      IconClass="fa-solid fa-person-swimming" />
                }
            </div>

        </div>
        <div class="bg-white shadow position-relative py-5">
            <div class="container px-3  ">
                <h2 class="section-title"> Accreditations </h2>
                <div class="cards-grid">
                    @foreach (var item in facility.Accreditations)
                    {
                        <Card Title="@item.Name"
                              Image="@(serverUrl + item.Logo)"
                              Description="@item.Description"
                              CardLink="#"
                              IconClass="fa-solid fa-certificate" />
                    }
                </div>
            </div>
        </div>
        <div class="py-5">
            <h2 class="section-title"> Highlights </h2>
            <div class="container px-3  mt-5  ">
                @foreach (var item in facility.Highlights)
                {
                    <ItemRowComponent Title="@item.Name"
                                      Image="@(serverUrl + item.Logo)"
                                      Description="@item.Description"
                                      IconClass="fa-solid fa-star" />
                }
            </div>
        </div>


        <div class="bg-white shadow position-relative py-5">
            <div class="container px-3 ">
                <h2 class="section-title"> Who We Treat </h2>
                <div class="cards-grid">
                    @foreach (var item in facility.Wwt)
                    {
                        <Card Title="@item.Name"
                              Image="@(serverUrl + item.Logo)"
                              Description="@item.Description"
                              IconClass="fa-solid fa-hands-helping" />
                    }
                </div>
            </div>
        </div>
        <div class="container px-3  py-5">
            <h2 class="section-title"> Treatments </h2>
            @foreach (var item in facility.Treatments)
            {
                <ItemRowComponent Title="@item.Name"
                                  Image="@(serverUrl + item.Logo)"
                                  Description="@item.Description"
                                  IconClass="fa-solid fa-hand-holding-medical" />
            }
        </div>

        <div class="bg-white shadow position-relative py-5">
            <div class="container px-3  ">
                <h2 class="section-title"> Level Of Cares </h2>
                <div class="cards-grid loc">
                    @foreach (var item in facility.Locs)
                    {
                        <Card Title="@item.Name"
                              Image="@(serverUrl + item.Logo)"
                              Description="@item.Description"
                              IconClass="fa-solid fa-layer-group" />
                    }
                </div>
            </div>
        </div>
        <div class="container px-3  py-5">
            <h2 class="section-title"> Conditions </h2>

            @foreach (var item in facility.Condition)
            {
                <ItemRowComponent Title="@item.Name"
                                  Image="@(serverUrl + item.Logo)"
                                  Description="@item.Description"
                                  IconClass="fa-solid fa-notes-medical" />
            }

        </div>
        <div class="bg-white shadow position-relative py-5">
            <div class="container px-3">
                <h2 class="section-title"> Substances We Treat</h2>
                @foreach (var item in facility.Swt)
                {
                    <ItemRowComponent Title="@item.Name"
                                      Image="@(serverUrl + item.Logo)"
                                      Description="@item.Description"
                                      IconClass="fa-solid fa-pills" />
                }

            </div>
        </div>

    }

</div>

@code {
    // [Parameter] public string slug { get; set; } = string.Empty;
    [Parameter] public string id { get; set; } = string.Empty;
    private FacilityViewModel? facility;
    private bool isLoading = true;
    private TabControl? tabControl1;
    private TabControl? tabControl2;
    private TabControl? tabControl3;
    private TabControl? tabControl4;

    [Inject] IConfiguration Config { get; set; } = default!;

    private string? serverUrl;


    // protected override void OnInitialized()
    // {
    //     if (!string.IsNullOrEmpty(slug))
    //     {
    //         if (!string.IsNullOrWhiteSpace(slug))
    //         {
    //             facility = MockFacilityData.GetSampleFacilities()
    //                        .FirstOrDefault(f => string.Equals(f.Slug, slug, StringComparison.OrdinalIgnoreCase)
    //                        || string.Equals(ToSlug(f.Name), slug, StringComparison.OrdinalIgnoreCase));
    //         }
    //     }

    //     isLoading = false;
    // }

    protected override void OnInitialized()
    {
        if (!string.IsNullOrWhiteSpace(id))
        {
            facility = mapper.Map<FacilityViewModel>(FacilityService.FindById(int.Parse(id)));
        }
        if (facility != null && facility.FacilitysImages != null) Console.WriteLine(facility.FacilitysImages.Count);
        isLoading = false;
        serverUrl = Config["AppSettings:AdminServerUrl"];
    }

    // private static string ToSlug(string? value)
    // {
    //     if (string.IsNullOrWhiteSpace(value)) return string.Empty;
    //     return System.Text.RegularExpressions.Regex.Replace(value.Trim(), "\\s+", "-");
    // }

}

