@page "/blogtag"
@rendermode InteractiveServer
@using Rehab.EndPoint.AdminPanel.Viewmodels
@using AutoMapper
@using Rehab.EndPoint.AdminPanel.Components.Controls
@using System.Text.Json
@using Rehab.Application.Blog

@inject IMapper mapper
@inject Rehab.Application.Blog.IBlogTagService BlogTagService
@inject IWebHostEnvironment Env
@inject IImageUploaderService Uploader
@inject AlertService AlertService
<div class="w-75 mx-auto p-4">
    <div class="d-flex justify-content-between">
        <h3>Blog Tags</h3>
        <a href="/blogtag/add" class="btn btn btn-outline-primary">
            <i class="fa-solid fa-plus"></i> Add
        </a>
    </div>

    @if (BlogTagList is not null)
    {
        <div class="row g-4">
            <div class="col-sm-12 col-xl-6 w-100">
                <div class="bg-light rounded h-100 p-4">
                    <table class="table table-responsive-lg">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Icon</th>
                                <th scope="col">Name</th>
                                <th scope="col">Description</th>
                                <th scope="col">Operation</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                var i = 0;
                            }
                            @foreach (var item in BlogTagList)
                            {
                                i++;
                                <tr>
                                    <th scope="row">@i</th>
                                    <td>
                                        <img src="@item.Logo" width="30" height="30" />
                                    </td>
                                    <td style="max-width:200px;max-height:50px;overflow:hidden;">@item.Name</td>
                                    <td>
                                        <p style="max-width:400px;max-height:50px;overflow-y:auto">
                                            @item.Description
                                        </p>
                                    </td>
                                    <td>
                                        <i class="fa fa-edit cursor-pointer" title="Edit Tag" @onclick="() => OpenEditModal(item)"></i>
                                        &ensp;&ensp;&ensp;
                                        <i class="fa fa-image cursor-pointer" title="Show Image" @onclick="() => OpenImageModal(item)"></i>
                                        &ensp;&ensp;&ensp;
                                        <i class="fa fa-trash cursor-pointer" title="Delete Tag" @onclick="() => OpenDeleteModal(item)"></i>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }
</div>
<!-- #region Edit Modal -->
<ModalComponent @rendermode="InteractiveServer"
                TModel="BlogPostTagViewModel"
                Title="Edit Tag"
                OkButton="Apply Changes"
                OkButtonClass="btn btn-primary"
                CancelButton="Cancel"
                Model="@tempBlogTag"
                OnValidSubmit="@Update"
                @ref="EditModal">
    <div class="form-group">
        <label>Name</label>
        <InputText class="form-control" @bind-Value="tempBlogTag.Name" />
        <label>Icon</label>
        <div class="row">
            <div class="col-10">
                <InputFile OnChange="HandleSelected" class="form-control my-2" accept="image/*" />
            </div>
            <div class="col-2">
                <img src="@((UploadedPaths.Count > 0) ? UploadedPaths[0] : tempBlogTag.Logo)" width="40" height="40" />
            </div>
        </div>

        <label>Description</label>
        <InputTextArea @bind-Value="tempBlogTag.Description" class="form-control my-2"></InputTextArea>
    </div>
</ModalComponent>
<!-- #endregion Edit Modal -->
<!-- #region Image Modal -->
<ImageModalComponent @rendermode="InteractiveServer"
                     Title="Tag's Logo Image"
                     Image="@Image"
                     Model="EditTag"
                     @ref="ImageModal">
</ImageModalComponent>
<!-- #endregion Image Modal -->
<!-- #region Delete Modal -->
<ModalComponent @rendermode="InteractiveServer"
                TModel="BlogPostTagViewModel"
                Title="Delete Tag"
                OkButton="Yes, I am Sure"
                OkButtonClass="btn btn-danger"
                CancelButton="Cancel"
                Model="@EditTag"
                OnValidSubmit="@Delete"
                @ref="DeleteModal">
    <h6 class="text-muted">Do you really want to Delete this Tag?</h6>
    <div class="container mb-2 px-0">
        <div class="row my-3">
            <div class="col-4">Name</div>
            <div class="col-8">@EditTag.Name</div>
        </div>
        <div class="row my-3">
            <div class="col-4">Icon</div>
            <div class="col-8"><img src="@EditTag.Logo" width="40" height="40" /></div>
        </div>
        <div class="row my-3">
            <div class="col-4">Description</div>
            <div class="col-8">
                <p style="max-width:400px;max-height:150px;overflow-y:auto">@EditTag.Description</p>
            </div>
        </div>
    </div>
</ModalComponent>
<!-- #endregion Delete Modal -->
@code {
    public string? Image { get; set; } = string.Empty;

    public ModalComponent<BlogPostTagViewModel> EditModal;
    public ModalComponent<BlogPostTagViewModel> DeleteModal;
    public ImageModalComponent<BlogPostTagViewModel> ImageModal;
    public BlogPostTagViewModel EditTag { get; set; } = new();
    public ResultViewmodel<BlogPostTagViewModel> Result { get; set; } = new();
    private BlogPostTagViewModel? tempBlogTag = new();
    public List<BlogPostTagViewModel> BlogTagList { get; set; } = new List<BlogPostTagViewModel>();

    protected override void OnInitialized()
    {
        var BlogTagListDto = BlogTagService.GetList();
        BlogTagList = mapper.Map<List<BlogPostTagViewModel>>(BlogTagListDto);
    }
    List<string> UploadedPaths = new();

    private async Task HandleSelected(InputFileChangeEventArgs e)
    {
        EditModal.SetIsAddBtnActive(false);
        UploadedPaths.Clear();
        var files = e.GetMultipleFiles();
        var paths = await Uploader.UploadAsync(files, Env.WebRootPath, "uploads/BlogTags");
        UploadedPaths.AddRange(paths);
        if (UploadedPaths.Count > 0)
        {
            EditModal.SetIsAddBtnActive(true);
        }
    }

    void OpenEditModal(BlogPostTagViewModel BlogTag)
    {
        tempBlogTag = JsonSerializer.Deserialize<BlogPostTagViewModel>(
            JsonSerializer.Serialize(BlogTag));
        UploadedPaths.Clear();
        EditModal.Show();
    }

    void OpenDeleteModal(BlogPostTagViewModel BlogTag)
    {
        EditTag = BlogTag;
        DeleteModal.Show();
    }
    void OpenImageModal(BlogPostTagViewModel BlogTag)
    {
        Image = BlogTag.Logo;
        ImageModal?.Show();
    }


    private void Update(BlogPostTagViewModel BlogTag)
    {
        if (UploadedPaths.Count > 0)
        {
            BlogTag.Logo = UploadedPaths[0];
        }
        else
        {
            BlogTag.Logo = "";
        }
        BaseDto<BlogTagDto> result = BlogTagService.Update(mapper.Map<BlogTagDto>(BlogTag));
        Result = mapper.Map<ResultViewmodel<BlogPostTagViewModel>>(result);
        if (Result.Success)
            BlogTagList = mapper.Map<List<BlogPostTagViewModel>>(BlogTagService.GetList());
        AlertService.ShowAsync(Result.Message, Result.Status);

    }


    private void Delete(BlogPostTagViewModel BlogTag)
    {
        var result = BlogTagService.Delete(mapper.Map<BlogTagDto>(BlogTag));
        Result = mapper.Map<ResultViewmodel<BlogPostTagViewModel>>(result);
        if (Result.Success)
            BlogTagList = mapper.Map<List<BlogPostTagViewModel>>(BlogTagService.GetList());
        AlertService.ShowAsync(Result.Message, Result.Status);
    }

}
