@using Rehab.Application.Treatments
@using Rehab.EndPoint.AdminPanel.Components.Controls
@using Rehab.EndPoint.AdminPanel.Viewmodels
@using System.Text.Json
@inject Rehab.Application.Treatments.ITreatmentService TreatmentService
@inject AutoMapper.IMapper mapper
@rendermode InteractiveServer
@inject AlertService AlertService
@inject IWebHostEnvironment Env
@inject IImageUploaderService Uploader
@page "/treatments"

<div class="w-75 mx-auto p-4">
    <h3>Treatments</h3>
    @if (TreatmentsList is not null)
    {
        <div class="row g-4">
            <div class="col-sm-12 col-xl-6 w-100">
                <div class="bg-light rounded h-100 p-4">
                    <table class="table table-responsive-lg">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Icon</th>
                                <th scope="col">Name</th>
                                <th scope="col">Description</th>
                                <th scope="col">Operation</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                var i = 0;
                            }
                            @foreach (var item in TreatmentsList)
                            {
                                i++;
                                <tr>
                                    <th scope="row">@i</th>
                                    <td>
                                        <img src="@item.Logo" width="30" height="30" />
                                    </td>
                                    <td style="max-width:200px;max-height:50px;overflow:hidden;">@item.Name</td>
                                    <td>
                                        <p style="max-width:400px;max-height:50px;overflow-y:auto">
                                            @item.Description
                                        </p>
                                    </td>
                                    <td>
                                        <i class="fa fa-edit cursor-pointer" title="Edit Treatment" @onclick="()=>OpenEditModal(item)"></i>
                                        &ensp;&ensp;&ensp;
                                        <i class="fa fa-image cursor-pointer" title="Show Image" @onclick="()=>OpenImageModal(item)"></i>
                                        &ensp;&ensp;&ensp;
                                        <i class="fa fa-trash cursor-pointer" title="Delete Treatment" @onclick="()=>OpenDeleteModal(item)"></i>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }
</div>

<!-- #region Edit Modal -->
<ModalComponent @rendermode="InteractiveServer"
                TModel="TreatmentViewmodel"
                Title="Edit Treatment"
                OkButton="Apply Changes"
                OkButtonClass="btn btn-primary"
                CancelButton="Cancel"
                Model="@tempTreatment"
                OnValidSubmit="@Update"
                @ref="EditModal">
    <div class="form-group">
        <label>Name</label>
        <InputText class="form-control" @bind-Value="tempTreatment.Name" />
        <label>Icon</label>
        <div class="row">
            <div class="col-10">
                <InputFile OnChange="HandleSelected" class="form-control my-2" accept="image/*" />
            </div>
            <div class="col-2">
                <img src="@((UploadedPaths.Count>0) ? UploadedPaths[0] : tempTreatment.Logo)" width="40" height="40" />
            </div>
        </div>

        <label>Description</label>
        <InputTextArea @bind-Value="tempTreatment.Description" class="form-control my-2"></InputTextArea>
    </div>
</ModalComponent>
<!-- #endregion Edit Modal -->
<!-- #region Delete Modal -->
<ModalComponent @rendermode="InteractiveServer"
                TModel="TreatmentViewmodel"
                Title="Delete Treatment"
                OkButton="Yes, I am Sure"
                OkButtonClass="btn btn-danger"
                CancelButton="Cancel"
                Model="@EditTreatment"
                OnValidSubmit="@Delete"
                @ref="DeleteModal">
    <h6 class="text-muted">Do you really want to Delete this Treatment?</h6>
    <div class="container mb-2 px-0">
        <div class="row my-3">
            <div class="col-4">Name</div>
            <div class="col-8">@EditTreatment.Name</div>
        </div>
        <div class="row my-3">
            <div class="col-4">Icon</div>
            <div class="col-8"><img src="@EditTreatment.Logo" width="40" height="40" /></div>
        </div>
        <div class="row my-3">
            <div class="col-4">Description</div>
            <div class="col-8">
                <p style="max-width:400px;max-height:150px;overflow-y:auto">@EditTreatment.Description</p>
            </div>
        </div>
    </div>
</ModalComponent>
<!-- #endregion Delete Modal -->
<!-- #region Image Modal -->
<ImageModalComponent @rendermode="InteractiveServer"
                     Title="Treatment's Icon Image"
                     Image="@Image"
                     Model="EditTreatment"
                     @ref="ImageModal">
</ImageModalComponent>
<!-- #endregion Image Modal -->
@code {
    public TreatmentViewmodel EditTreatment { get; set; } = new();
    private ModalComponent<TreatmentViewmodel> EditModal;
    private ModalComponent<TreatmentViewmodel> DeleteModal;
    public ImageModalComponent<TreatmentViewmodel> ImageModal;
    public string? Image { get; set; } = string.Empty;
    public ResultViewmodel<TreatmentViewmodel> Result { get; set; } = new();
    private TreatmentViewmodel? tempTreatment = new();

    void OpenEditModal(TreatmentViewmodel treatment)
    {
        //depth copy
        tempTreatment = JsonSerializer.Deserialize<TreatmentViewmodel>(
            JsonSerializer.Serialize(treatment));

        UploadedPaths.Clear();
        EditModal.Show();
    }

    void OpenDeleteModal(TreatmentViewmodel treatment)
    {
        EditTreatment = treatment;
        DeleteModal.Show();
    }

    void OpenImageModal(TreatmentViewmodel treatment)
    {
        Image = treatment.Logo;
        ImageModal?.Show();
    }

    private void Update(TreatmentViewmodel treatment)
    {
        if (UploadedPaths.Count > 0)
        {
            treatment.Logo = UploadedPaths[0];
        }
        else
        {
            treatment.Logo = "";
        }
        BaseDto<TreatmentDto> result = TreatmentService.Update(mapper.Map<TreatmentDto>(treatment));
        Result = mapper.Map<ResultViewmodel<TreatmentViewmodel>>(result);
        if (Result.Success)
            TreatmentsList = mapper.Map<List<TreatmentViewmodel>>(TreatmentService.GetList());
        AlertService.ShowAsync(Result.Message, Result.Status);

    }

    public List<TreatmentViewmodel> TreatmentsList { get; set; } = new();

    protected override void OnInitialized()
    {
        TreatmentsList = mapper.Map<List<TreatmentViewmodel>>(TreatmentService.GetList());
    }


    List<string> UploadedPaths = new();

    private async Task HandleSelected(InputFileChangeEventArgs e)
    {
        EditModal.SetIsAddBtnActive(false);
        UploadedPaths.Clear();
        var files = e.GetMultipleFiles();
        var paths = await Uploader.UploadAsync(files, Env.WebRootPath, "uploads/treatments");
        UploadedPaths.AddRange(paths);
        if (UploadedPaths.Count > 0)
        {
            EditModal.SetIsAddBtnActive(true);
        }
    }


    private void Delete(TreatmentViewmodel treatment)
    {
        var result = TreatmentService.Delete(mapper.Map<TreatmentDto>(treatment));
        Result = mapper.Map<ResultViewmodel<TreatmentViewmodel>>(result);
        if (Result.Success)
            TreatmentsList = mapper.Map<List<TreatmentViewmodel>>(TreatmentService.GetList());
        AlertService.ShowAsync(Result.Message, Result.Status);
    }
}
